#calculator
	.row
		.col-lg-12
			div.input-group
				input#input.form-control.input-lg(type="text", ng-model="input", ui-keyup="{'enter':'calculate()'}")
				span.input-group-btn
					button.btn.btn-danger.btn-lg(type="button", ng-click="reset()") C
	.row(ng-if="error")
		.alert.alert-danger(ng-bind="error")
	.row
		.col-lg-8.well#commands
			.row
				a.btn(ng-click="write('7')") 7
				a.btn(ng-click="write('8')") 8
				a.btn(ng-click="write('9')") 9
				a.btn(ng-click="write('(')") (
				a.btn(ng-click="write(')')") )
			.row
				a.btn(ng-click="write('4')") 4
				a.btn(ng-click="write('5')") 5
				a.btn(ng-click="write('6')") 6
				a.btn(ng-click="write('-')") -
				a.btn(ng-click="write('+')") +
			.row
				a.btn(ng-click="write('1')") 1
				a.btn(ng-click="write('2')") 2
				a.btn(ng-click="write('3')") 3
				a.btn(ng-click="write('/')") /
				a.btn(ng-click="write('*')") *
			.row
				a.btn(ng-click="write('.')") .
				a.btn(ng-click="write('0')") 0
				a.btn(ng-click="write('%')") %
				a.btn.btn-primary(ng-click="calculate()") =
		.col-lg-4.well#history
			legend History
			#items
				div.item(ng-repeat="item in history track by $index", ng-bind="item.calcul")