#calculator {

	#commands {
		height: 300px;
		text-align: center;
	}

	#input {
		height: 57px;
	}

	.row {
		margin-bottom: 10px;
	}

	.row .btn {
	  font-size: 21px;
	  padding: 14px 24px;
	}

	#history {
		height: 300px;

		.item:hover {
			background-color: #ffffff;
		}

		#items {
			overflow-y: auto;
			height: 210px;
		}
	}

}